
@{
    ViewBag.Title = "Etkinlik Listele";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="text-center">Etkinlik Listele</h2>

<div class="container-fluid">
    @Html.Partial("Calendar");
</div>