@model DsiSporKayitSistemi.Models.SporDali
@{
    ViewBag.Title = "SporDaliUpdateForm";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Spor Dalı Düzenle</h2>
<div class="container-md">
    <div class="card o-hidden border-0 shadow-lg my-5">
        @using (Html.BeginForm("SporDaliDuzenle", "KontrolPaneli", FormMethod.Post))
        {
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <form class="user">
                                @Html.TextBoxFor(m => m.SporID, null, new { @class = "form-control", type = "hidden" })
                                <!-- Spor dalı adı -->
                                <div class="form-group">
                                    @*<input type="text" class="form-control form-control-user" id="exampleSporDaliAd"
            placeholder="Spor Dalı Adı" required>*@
                                    @Html.TextBoxFor(m => m.SporAdi, null, new { @maxlength = "50", @class = "form-control form-control-user", @placeholder = "Spor Dalı Adı" })
                                </div>
                                <hr>
                                <!-- Buton -->
                                <div class="form-group text-center mt-4">
                                    <button type="submit" class="btn btn-primary">Spor Dalı Güncelle</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
