
@model DsiSporKayitSistemi.Models.KurKayit

@{
    ViewBag.Title = "Step1";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@{
    ViewBag.Title = "KursEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2 class="text-center mt-5">Kurs Ekle</h2>

<div class="container-fluid">
    <div class="container-md">
        <div class="card o-hidden border-0 shadow-lg my-5">
            @using (Html.BeginForm("KursRegister", "KursEkle", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <form>
                                    <!-- Kurs Adı -->
                                    <div class="mb-3">
                                        <label for="kursAdi" class="form-label">Kurs Adı</label>
                                        @Html.TextBoxFor(m => m.KurAdi, null, new { @maxlength = "25", @class = "form-control form-control-user", @placeholder = "Kurs Adı" })
                                    </div>

                                    <!--Spor Dalı Seçimi-->
                                    <div class="mb-3">
                                        <label for="bransAdi" class="form-label">Spor Dalı</label>
                                        @Html.DropDownListFor(m => m.SporDaliID, (List<SelectListItem>)ViewBag.SporDallari, new { @maxlength = "25", @class = "form-control form-control-user", @placeholder = "Kurs Adı" })
                                    </div>
                                    <!-- Dönem Seçimi -->
                                    <div class="mb-3">
                                        <label for="donemSec" class="form-label">Dönem Seç</label>
                                        @Html.DropDownListFor(m => m.DonemID, (List<SelectListItem>)ViewBag.DonemSecim, new { @class = "form-control form-control-user" })
                                    </div>
                                    <!-- ileri butonu-->
                                    <div class="form-group text-center mt-4">
                                        <button type="submit" class="btn btn-primary">İleri</button>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.1/js/bootstrap.bundle.min.js"></script>

